.jumbotron
  .row
    .col-md-4.col-md-offset-4
      h1 Simulation<span>.</span>
      #sitl-preflight.panel.panel-default
        .panel-heading SITL mode: Preflight.
        .panel-body

          ul.list-group
            li.list-group-item
              #preflightSitlConnectionManager.statusWidget
            li.list-group-item
              #loadParameters.statusWidget
                .disconnected <span class="glyphicon glyphicon-tasks"></span> Flight parameters not loaded.
                .connecting(style="display:none") <span class="glyphicon glyphicon-tasks"></span> Loading flight parameters&hellip;
                .connected(style="display:none") <span class="glyphicon glyphicon-ok"></span> Flight parameters loaded.
            li.list-group-item
              #loadMission.statusWidget
                .disconnected <span class="glyphicon glyphicon-globe"></span> Mission not loaded.
                .connecting(style="display:none") <span class="glyphicon glyphicon-tasks"></span> Loading mission commands&hellip;
                .connected(style="display:none") <span class="glyphicon glyphicon-ok"></span> Mission commands loaded.
 
          form(role="form")
            div.form-group
              button.continue.pull-right.btn.btn-primary.btn-lg Fly routine