# No package managed stuff
node_modules/*
app/assets/bower/*

# No config files!
config.json

# App or OS specific junk
*.sublime-project
*.sublime-workspace
*.DS_Store
.monitor
logs/

# These files and/or directory contents are always rebuilt during build processes.
public/
app/Templates/templates.js
build/

# Random junk that sometimes crops up in development
dataflash.bin
eeprom.bin
mav.tlog
mav.tlog.raw
mavlink.dev.log
