{
  "identities": {
    "gcsId" : 255,
    "gcsComponent" : 1
  },

  "mapproxy": {
    "url":"http://gcs.local:8080/service"
  },

  "connection" : {
    "type": "tcp",
    "timeout": {
        "soft": 10000,
        "hard": 20000
      },
      "updateIntervals" : {
        "heartbeatMs" : 2500,
        "sendHeartbeatMs" : 1000
      }
    },

  "tcp" : {
    "host" : "127.0.0.1",
    "port" : 5760,
    "sitl" : {
      "active" : false,
      "port" : 5501,
      "bypassGps": false
    }
  },

  "udp" : {
    "port" : 14550
  },

  "serial" : {
    "device" : "auto",
    "baudrate" : 57600
  },

  "logging": {
    "root": "/var/log/dapper-gcs/",
    "receivedBinary": "received",
    "sentBinary": "sent"
  },

  "testing" : {
    "serial" : {
      "master" : "/var/lib/jenkins/dev/master",
      "slave" : "/var/lib/jenkins/dev/slave"
    }
  }

}
