[Unit]
Description=Dapper GCS
After=network.target

[Service]
ExecStart=/usr/bin/node /home/root/dapper-gcs/server.js
WorkingDirectory=/home/root/dapper-gcs
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dapper-gcs
Environment=NODE_BIN_DIR=/usr/bin/node
Environment=NODE_PATH=/usr/local/lib/node_modules
Environment=GCS_LOG_LEVEL=silly
Environment=PORT=80
User=root
Group=root

[Install]
WantedBy=multi-user.target
