.freeFlight.row
	#widgets(style="display:none").col-md-2
		#speedWidget.widget
		#altitudeWidget.widget
		#batteryWidget.widget

		#controls.widget
			button.launch.btn.btn-primary.btn-lg <span class="glyphicon glyphicon-plane"></span> Fly
			button.home.btn.btn-success.btn-lg(style="display: none") <span class="glyphicon glyphicon-home"></span>  Home
			button.stop.btn.btn-warning.btn-lg(style="display: none") <span class="glyphicon glyphicon-stop"></span>  Stop

	.col-md-10
		div#mapWidget

#waitForGps.alert.alert-info
	img(src="/images/ajax-loader.gif")
	span Waiting for GPS fix before rendering map&hellip;