.freeFlight
	div#widgets(style="display:none")
		div#speedWidget.widget
		div#altitudeWidget.widget
		div#batteryWidget.widget

		div#controls
			button.launch.btn.btn-primary.btn-lg <span class="glyphicon glyphicon-plane"></span> Fly
			button.home.btn.btn-success.btn-lg(style="display: none") <span class="glyphicon glyphicon-home"></span>  Home
			button.stop.btn.btn-warning.btn-lg(style="display: none") <span class="glyphicon glyphicon-stop"></span>  Stop

	div#waitForGps.alert.alert-info
		img(src="/images/ajax-loader.gif")
		span Waiting for GPS fix before rendering map&hellip;

	div#mapWidget