.freeFlight
	div#widgets
		div#speedWidget.widget
		div#altitudeWidget.widget

		div#controls
			button.launch.btn.btn-primary.btn-lg <span class="glyphicon glyphicon-plane"></span> Fly
			button.home.btn.btn-primary.btn-lg(style="display: none") <span class="glyphicon glyphicon-home"></span>  Home

	div#mapWidget