.row
  .col-md-4.col-md-offset-4.region
    h1 Free flight<span>.</span>
    .panel.planning.panel-default
      .panel-heading Free flight: Planning.
      .panel-body
        p Set these required flight options.
        form(role="form")
          div.form-group.has-feedback
            label(for="maxAltitude") Maximum altitude (meters)
            input(type="text", class="form-control", id="maxAltitude", name="maxAltitude", value="#{maxAltitude}")
            span.toFeet.form-control-feedback
          div.form-group
            label(for="rtlBehavior") Loss of link behavior
              span.fake not implemented
            select(id="rtlBehavior").form-control
              option(selected) Return to home and <strong>hover</strong>
              option Return to home and <strong>land</strong>

        p Want a recommended equipment list for this flight?
          span.fake not implemented
          button.btn.btn-info Show equipment checklist
      .panel-footer
        form(role="form")
          div.form-group
            a.continue.btn.btn-primary.btn-lg Continue to preflight
