.jumbotron
  .row
    .col-md-6.col-md-offset-3
      h1 Free Flight<span>.</span>
      #sitl-preflight.panel.panel-default
        .panel-heading Free Flight mode: Preflight.
        .panel-body

          ul.list-group.checklist
            li.list-group-item
              #preflightSitlConnectionManager.statusWidget
            li.list-group-item
              #loadParameters.statusWidget
                .disconnected <span class="glyphicon glyphicon-tasks"></span> Flight parameters not loaded.
                .connecting(style="display:none") <span class="glyphicon glyphicon-tasks"></span> Loading flight parameters&hellip;
                .connected(style="display:none") <span class="glyphicon glyphicon-ok"></span> Flight parameters loaded.
            li.list-group-item
              #loadMission.statusWidget
                .disconnected <span class="glyphicon glyphicon-globe"></span> Mission not loaded.
                .connecting(style="display:none") <span class="glyphicon glyphicon-tasks"></span> Loading mission commands&hellip;
                .connected(style="display:none") <span class="glyphicon glyphicon-ok"></span> Mission commands loaded.
 
            li.list-group-item.manual
              .btn-group(data-toggle="buttons")
                label.btn.btn-danger.btn-sm.
                  <input checked type="radio" name="compass" id="compass_no"/> No
                label.btn.btn-success.btn-sm.
                  <input type="radio" name="compass" id="compass_yes"/> Yes
              span.txt Is the compass calibrated for this area?
              button.btn.btn-default.btn-sm.pull-right(type="button")
                span.glyphicon.glyphicon-question-sign
            
            li.list-group-item.manual
              .btn-group(data-toggle="buttons")
                label.btn.btn-danger.btn-sm.
                  <input checked type="radio" name="props" id="props_no"/> No
                label.btn.btn-success.btn-sm.
                  <input type="radio" name="props" id="props_yes"/> Yes
              span.txt Propellers inspected?
              button.btn.btn-default.btn-sm.pull-right(type="button")
                span.glyphicon.glyphicon-question-sign
            
          form(role="form")
            div.form-group
              button.continue.pull-right.btn.btn-primary.btn-lg Fly routine