doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/min.css')
    link(rel='icon', type='image/png', href='/images/afdc.png')

  body.checklist
    .container
      .row
        .col-md-12(style="background: #fff")
          h1
            img(src="images/afdc-red.png")
            | Flight Equipment Checklist

          h2 Operations equipment
          table.table
            thead
              tr
                th
                  span.glyphicon.glyphicon-check
                th Item
                th Description
            tbody
              tr
                td &nbsp;
                td Sunglasses
                td Sunglasses make it easier to spot the drone and other aircraft.
              tr
                td &nbsp;
                td Bug spray
                td Bugs can be distracting!
              tr
                td &nbsp;
                td Tarp or plywood launchpad
                td Having a tarp or plywood launchpad give you a clear visual target for the home position, as well as preventing
                  | debris or other things from getting blown around by prop wash during takeoff and landing.
              tr
                td &nbsp;
                td Bench, chair, table
                td It's useful to have some working surface you can put tools, computers, tablets, or other equipment on during flights.
              tr
                td &nbsp;
                td Spare parts!
                td At a minimum, bring spare propellers and any hardware (screws, washers) needed to attach them.
              tr
                td &nbsp;
                td Tweezers
                td These make it easier to handle microSD cards with cameras.

          h2 Safety equipment
          table.table
            thead
              tr
                th
                  span.glyphicon.glyphicon-check
                th Item
                th Description
            tbody
              tr
                td &nbsp;
                td Shovel, bucket, sandbag
                td In a worst-case scenario where a LiPo battery starts a fire, it needs to be deprived of oxygen to be extinguished.
                  | Having a shovel, bucket, and sand
                  | means you can handle this.
              tr
                td &nbsp;
                td Gloves
                td For normal weather, get some work gloves that are heavy enough to protect your hands from propellers.  For cold weather,
                  | a pair of light gloves that work with touchscreens is a good idea to help keep your hands warm.
              tr
                td &nbsp;
                td Safety glasses
                td Wear these when approaching an armed craft.
              tr
                td &nbsp;
                td Weather appropriate gear
                td Being outside without the right gear makes for a miserable time. Check the weather forecast and dress appropriately.
                  | Gloves, raincoat, hat to block the sun.
