extends layout

block content
	#global
	#mainContainer.container-fluid
		.row
			.col-md-10.col-md-offset-1
				// We disable navigating to previous steps for the moment because
				// we need to tie that into Backbone in a more intense way than
				// this plugin really handles.
				#flightWizard.wizard(data-initialize="wizard", data-restrict="previous")
					ul.steps
						li.active(data-step="1")
							<span class="badge">1</span>Select platform &amp; routine<span class="chevron"></span>
						li(data-step="2")
							<span class="badge">2</span>Plan the flight<span class="chevron"></span>
						li(data-step="3")
							<span class="badge">3</span>Pre&ndash;flight checks<span class="chevron"></span>
						li(data-step="4")
							<span class="badge">4</span>Fly!<span class="chevron"></span>
						li(data-step="5")
							<span class="badge">5</span>Finish<span class="chevron"></span>

					.step-content
						#select.step-pane.active(data-step="1")
						#planning.step-pane(data-step="2")
						#preflight.step-pane(data-step="3")
						#postroutine.step-pane(data-step="5")

		div#home
		div#mission
		div#fly
		div#engineering
		div#postroutine
