doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= title
		link(rel='stylesheet', href='/stylesheets/min.css')
		link(rel='icon', type='image/png', href='/images/afdc.png')
		script(type="text/javascript", data-main="/javascripts/required", charset="utf-8", src="/javascripts/require.js")
		script.
			var appConfig = appConfig || {};
			appConfig.platforms = !{JSON.stringify(platforms)}
	body
		nav#main-navbar.navbar.navbar-default(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#") Routine.ly

				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(data-name="mission").active
							a(href="/resumeCurrentMissionStep") Mission
						li(data-name="engineering")
							a(href="/engineering") Engineering

	block content