doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/min.css')
    link(rel='icon', type='image/png', href='/images/afdc.png')

  body.postroutinechecklist
  .container
    .row
      .col-md-12(style="background: #fff")
        h1
          img(src="images/afdc-red.png")
          | Post Routine Checklist

        h2 O Hai
