
@import "../../app/assets/bower/bootstrap/less/bootstrap.less";

@import "fonts.less";
@import "gcs.less";
@import "missionWidgets.less";

@import "variables.less";
@import "bootswatch.less";




div#mapWidget {
  min-height: 500px;
  min-width: 1000px;
}

a.navbar-brand img {
  height: 100%;
}