#mainContainer {
	padding: 0;
	position: relative;
}

body {
	background: #222 url("../images/unsplash-stock-image.jpg");
}

a.navbar-brand {
	display: inline-block;
	background: url("../images/afdc-red.png") left top;
	background-size: 100%;
}

.jumbotron {
	background-color: rgba(30, 30, 30, .8);
	h1 span {
		&.terminal {
			color: rgba(100,100,100, .8);
		}
		color: @brand-accent; 
	}
}

.manual span.txt {
	display: inline-block;
	margin-left: 1em;
}

.fake {
	color: #888;
	display: inline-block;
	padding-left: 1ex;
	font-weight: 300;
	color: rgb(255, 72, 29);
		display: none;

}

.opaque {
	background-color: rgba(0, 0, 0, .5);
}