#fly {

    .widget {

        .units, p {
            color: #ff8;
        }

        .value {
            color: #fff;
        }

    }

    #widgets {
        z-index: 100;
        position: absolute;
        left: 0;

        #statusWidget {
            background-color: green;
            color: white;
        }
    }

}

.disconnected {
    background-color: rgba(255, 0, 0, .28);
}
.connecting {
    background-color: rgba(255, 128, 0, .28);
}
.connected {
    background-color: rgba(0, 255, 0, .28);
}

#mapWidget {
  min-height: 500px;
}
