@import "../../../../assets/less/variables.less";
@import "../../../assets/bower/3l/styles.less";
@import "../../../assets/bower/3l/3L/assets/animations/animation1.less";

.animation1() {
	from {
		background-color: @brand-primary;
		.box-shadow(0 0 3px @brand-info); 
	}
	to {
		background-color: @brand-info;
		.box-shadow(0 0 10px white);
	}
}

#fly {
	.freeFlight {
		#widgets {
			width: 160px;
			z-index: 500;
			padding: 2ex;
			margin: 0;
			height: 100%;
			background: rgba(0, 0, 0, .5);

			.widget {
				h3 {
					display: none;
				}
				.value {
				    font-size: 300%;
				    font-weight: 600;
				}
			}

			#altitudeWidget {
				margin-top: 2em;
			}
		}
		
		#controls {
			position: absolute;
			bottom: 0;
			margin: 1ex;
			z-index: 5000;

			button {
				.animation(animation1 1s linear 0s infinite alternate);
			}
		}
	}
}
