#freeFlightPostFlight {

  .manual span.txt {
    display: inline-block;
    padding-top: .5ex;
    margin-bottom: 1ex;
  }

  ul.checklist li .groupWrapper {
    float: left;
    display: inline-block;
    margin-right: 1em;
  }

  ul.checklist li button.btn {
    color: #888;
    background-color: white;
    border: 1px solid #aaa;
  }

  .btn-group {
    label.btn-danger:not(.active), label.btn-success:not(.active) {
      background: #fff;
      color: #888;
      border: 1px solid #aaa;
    }
  }
}
