#mapCacheLoaderModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title <span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Download maps for offline use
      .modal-body
        p Use the map below to zoom into the area you're going to fly.  As you zoom and pan, tiles are saved for offline use.
        #mapCacheLoaderWidget(style="height: 500px")
      .modal-footer
        button.close.btn.btn-primary(data-dismiss="modal") Done