h3 Battery

div#battery_image
    img.svg(src=icon)

div#battery_toolbar_display.battery_values
    a(href='#')
        span.value !{battery_remaining}
        span.units &nbsp;%
    a
        span.value !{voltage_battery}
        span.units &nbsp;v
    a
        span.value !{current_battery}
        span.units &nbsp;A