#comms
    .disconnected Disconnected.
    .connecting Connecting!{time_since_last_heartbeat}.
    .connected Connected.
    div
        button.btn#loadParams Load Parameters
        button.btn#loadMission Load Mission
        button.btn#startMission Start Mission Wooo!