#connectionWidget
  .disconnected <div id="connectionWidgetLoader" class="loader" data-initialize="loader"></div> Disconnected<span class="extra">, trying to connect&hellip;</span>.
  .connecting <span class="glyphicon glyphicon-signal"></span> Connecting<span class="extra">!{time_since_last_heartbeat}</span>.
  .connected <span class="glyphicon glyphicon-ok"></span> Connected<span class="extra"> to UAV</span>.