#routineStartedModalOverride.modal
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;A routine has started
			.modal-body
				p A routine is now being performed.
			.modal-footer
				button#gotoFly.btn.btn-primary(data-dismiss="modal") Join routine as observer