.jumbotron
	.container
		h1 Fly Routine<span>.</span>ly<span class="terminal">.</span>
		p
			if active
				a.btn.btn-primary.btn-lg(href="/mission/current") Join flight in progress
			else
				a.btn.btn-primary.btn-lg(href="/select") Plan a flight