div#widgets

  div#speedWidget.widget

  div#altitudeWidget.widget

  div#signalStrengthWidget.widget

  div#batteryWidget.widget

  div#healthWidget.widget

  div#stateWidget.widget

div#mapWidget

div#gpsWidget.widget

div#toolbarWidget

div#commsWidget.widget