div#widgets

    div#statusWidget.widget

    div#speedWidget.widget

    div#altitudeWidget.widget

    div#signalStrengthWidget.widget

    div#batteryWidget.widget

    div#gpsWidget.widget

    div#healthWidget.widget

    div#stateWidget.widget

div#mapWidget

div#commsWidget.widget
