.col-md-12
  h2 Select platform and routine
  .row
    .col-md-6
      form(role="form")
        div.form-group
          label(for="platformSelection") Platform
          select#platformSelection.form-control
            each platform in platforms
              option(value="#{platform.id}", selected=platform.id==currentPlatform)= platform.name

        div#payloadSelections.form-group
          if platforms[currentPlatform].payloads.length
            label(for="payloadSelection") Payload
            select#payloadSelection.form-control
              each payload in platforms[currentPlatform].payloads
                option(value="#{payload}", selected=payload==currentPayload)= payload

        div#routineSelections.form-group
          if platforms[currentPlatform].missions.length
            label(for="routineSelection") Routine
            select#routineSelection.form-control
              each mission in platforms[currentPlatform].missions
                option(value="#{mission}", selected=mission==currentMission)= mission

    .col-md-6
      p Preview pane for routine...
      img#currentMissionImg(src='/images/freeFlight.min.svg')
  div.form-group
    a.pull-right.btn.btn-primary.btn-lg(href="/mission/planning") Continue
