div#settingsUser.settings-button
    img(src='images/icon-cog-shadow.png')
div#user-toolbar-options.toolbar-icons
    a(href='#')
        i.icon-user
    a(href='#')
        i.icon-star
    a(href='#')
        i.icon-edit
    a(href='#')
        i.icon-delete
    a(href='#')
        i.icon-ban
